// COLORS
$text-primary: #ffffff;
$text-secondary: #000000;
$accent-color: #d41443;
$text-third: #907e82;
$text-decoration: #ffa5ba;

$bcg-white: #ffffff;
$bcg-pink-light: #fff5f6;
$bcg-pink: #ffb8ca;
$bcg-pink-heavy: #e17992;
$btn-hover-1: #ecebeb;
$btn-hover-2: #c7133e;
$bcg-accent-color: #d41342;
$bcg-brown: #f0d1a5;
$bcg-green: #c2e297;
$bcg-btn-hover-light: #ecebeb;
$border-color: #e1e1e1;

// FONTS STYLES
$fontDMSans: 'DM Sans', sans-serif;
$fontTitanOne: 'Titan One', sans-serif;

//COMMON
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
.section {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}
ul {
  padding: 0;
  list-style: none;
}
a .link {
  text-decoration: none;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visual--hiden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
