.buy-modal-open{
   max-width: 0%;
  }
  .buy-modal{
      width: 100%;
      @media (min-width: 768px) {  
      height: 100%;
      }
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    background: $buy-modal; 
    z-index: 1050;
    opacity: 0; 
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 0;
    @media (max-width: 460px) {
    top: 10%;
    }
  }

.buy-modal:target {
    opacity: 1; 
	  pointer-events: auto; 
}
.modal-dialog {
    position: absolute;
    width: 80%;
    height: 80%;

}
@media (min-width: 380px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto;
  }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $bcg-btn-hover-light;
    opacity: 0.90;
    background-clip: padding-box;
    border: 3px solid $btn-hover-2;
    border-radius: .3rem;
    outline: 0;
}
  .modal-content {
      display: flex;
      align-items: center;
      box-shadow: 0 5px 15px $buy-modal;
  }
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.buy-modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 700;
    color: $bcg-accent-color;
}
.close {
    position: absolute;
    right:1%;
    top: -3%;
    font-family: $fontTitanOne;
    font-size: 40px;
    font-weight: 700;
    color: $text-secondary;
    text-shadow: 0 1px 0 $text-primary;
    opacity: .5;
    text-decoration: none;
    
&:focus, &:hover {
    color: $accent-color;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
}
.buy-modal-body {
  position: relative;
display: flex;
    flex-direction: column;
    align-items: center;
  width: 90%;
  height: 400px;
}
.buy-modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form__place{
    width: 80%;
}
.modal-form__place label{
    display: flex;
    justify-content: center;
}
.modal-form__input-form{
    display: flex;
    justify-content: center;
}
.modal-form__input{
    width: 80%;
}
.buy-modal-img-list{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.buy-modal-img{
    display: flex;
    width: 30%;
    height:30%;
}
.checkbox-place{
width: 30%;
}
.checkbox-place__label{
width: 30%;
}
input[type="checkbox"] {
    position: absolute;
    top: 190px;
  }
.modal-form__button-send{
    width: 160px;
  height: 44px;
  border: 1px solid $bcg-pink-heavy;
  border-radius:22px;
  font-family: $fontDMSans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 30px;
  cursor: pointer;
  &:hover, &:focus{
    background-color: $bcg-accent-color;
  }
}