.company-description__text {
    .company-description__text--first{
        font-family: Titan One;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        
        color: #FFA5BA;   
    }
}