// PRODUCTS SECTION

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-primary;
}

.products__subtitle {
  margin-bottom: 18px;
  font-family: $fontTitanOne;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: $text-decoration;
}

.products__title {
  margin-bottom: 144px;
  font-family: $fontTitanOne;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-transform: uppercase;
  color: $accent-color;
}

.products__list {
  padding: 0;
  align-items: center;
}

.products__item {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 161px;
  max-width: 280px;
  padding-bottom: 41px;
  margin-bottom: 130px;
  border-radius: 24px;

  &--first {
    background-color: #ffb8ca;
  }

  &--second {
    background-color: #f0d1a5;
  }

  &--third {
    background-color: #c2e297;
  }
}

// .products__img {
//   position: absolute;
//   top: -113px;
//   width: 249px;
//   height: 252px;
//   transform: translateX(-50%);
// }

.products-description {
  padding-right: 39px;
  padding-left: 41px;

  &__title {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 36px;
    font-family: $fontTitanOne;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    color: $text-primary;

    &--first::before {
      content: '';
      position: absolute;
      bottom: 101px;
      left: 50%;
      transform: translateX(-50%);
      width: 249px;
      height: 252px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../src/images/mobile-ice-cream-1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../src/images/mobile-ice-cream-2x.png);
      }
    }

    &--second::before {
      content: '';
      position: absolute;
      bottom: 101px;
      left: 50%;
      transform: translateX(-50%);
      width: 249px;
      height: 252px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../src/images/mobile-ice-coffee-1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../src/images/mobile-ice-coffee-2x.png);
      }
    }

    &--third::before {
      content: '';
      position: absolute;
      bottom: 101px;
      left: 50%;
      transform: translateX(-50%);
      width: 249px;
      height: 252px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../src/images/mobile-milkshakes-1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../src/images/mobile-milkshakes-2x.png);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 6px;
      background-image: url(../../src/images/dots-1x.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-family: $fontDMSans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $text-primary;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-image: url(../../src/images/arrow-right-1x.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
