.slider__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.5s ease;
}

.slider__comments {
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
}

.slider__text {
  display: inline-flex;
  align-items: center;
  $text-secondary: #000000;
  font-weight: 500;
  font-size: 12px;
  color: $accent-color;
  line-height: 2.55;
  letter-spacing: 0.03em;
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
}

.slider__img {
  padding-bottom: 29px;
}

.slider__text::before {
  position: absolute;
  left: 61px;
  top: 142px;
  content: '';
  width: 54px;
  height: 40px;
  background-image: url('../images/commas.svg');
  background-size: 54px 40px;
  opacity: 0.5;
}
